.displayBranding {
  display: flex;
  justify-content: center;
  height: fit-content !important;
}

.imgMine {
  border-radius: 24px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.head__about {
  font-size: 71px;
  margin-top: 24px;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
  color: #00ff99;
}

/* .intro__para {
  font-size: 32px;
  } */
.intro__subpara {
  display: contents;
  font-size: 20px;
  padding: 0px 25px;
  color: #ababab !important;
  text-align: start;
}

.img_box {
  display: flex !important;
  margin: 70px 10px 0px 160px;
  /* width: 67.33333% !important; */
  /* height: 500px; */
  flex-basis: 68%;
  align-items: center;
  justify-content: center;
}
.btn {
  letter-spacing: 2px;
}
.btn__container {
  display: flex !important;
  margin: 30px 0px 0px 0px;
  /* padding: 0px 18px 0px 18px; */
}
.btn_about {
  font-size: 15px;
  padding: 8px 25px !important;
  background-color: #1c1c22;
}

.personal_details {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
  font-size: 1.15rem;
  padding: 0px 25px 0px 0px;
}
.detail {
  display: flex;
  gap: 20px;
}
.detail_head {
  color: #848383 !important;
}
.detail_info {
  color: #f1d2d2 !important;
}
.link {
  color: #f1d2d2 !important;
}
.link:hover {
  background-color: #00ff99;
  color: black !important;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .img_box {
    margin: auto;
    width: 55.33333% !important;
  }
  .heading {
    padding: 50px 5px;
  }
  .head__about {
    font-size: 43px;
    margin-top: 0px;
  }
  .intro__subpara {
    font-size: 15px;
  }
  .btn__container {
    margin-top: 16px;
  }
  .btn_about {
    padding: 8px 14px !important;
    font-size: 0.85rem;
  }
  .personal_details {
    grid-template-columns: auto;
    font-size: 13px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 576px) {
  .personal_details {
    grid-template-columns: auto;
    font-size: 16px;
  }
  .img_box {
    margin: auto;
    width: 50.33333% !important;
  }
  .heading {
    padding: 50px 5px !important;
  }
  .head__about {
    font-size: 48px;
    margin-top: 0px;
  }
  .intro__subpara {
    font-size: 16px;
  }
  .btn__container {
    margin-top: 16px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .personal_details {
    grid-template-columns: auto;
    font-size: 18px;
  }
  .img_box {
    margin: auto;
    width: 45.33333% !important;
  }
  .heading {
    padding: 50px 20px !important;
  }
  .head__about {
    font-size: 58px;
    margin-top: 0px;
  }
  .intro__subpara {
    font-size: 18px;
  }
  .heading {
    padding-bottom: 0 !important;
  }
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .displayBranding {
    flex-direction: column;
    text-align: center;
    padding-top: 100px !important ;
  }
  .intro__subpara {
    display: inline-block;
  }
  .btn__container {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .displayBranding {
    height: fit-content !important;
  }
  .img_box {
    margin: 70px 10px 0px 10px;
    flex-basis: 40%;
  }
  .heading {
    flex-basis: 60%;
  }
  .imgMine {
    width: 82%;
  }
  .btn__container {
    display: flex !important;
    margin: 30px 0px 0px 0px;
  }
  .btn_about {
    font-size: 16px;
    padding: 6px 20px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 835px) {
  .head__about {
    font-size: 60px;
  }
  .intro__subpara {
    font-size: 14px;
  }
  .personal_details {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 835px) and (max-width: 1020px) {
  .head__about {
    font-size: 60px;
  }
  .intro__subpara {
    font-size: 17px;
  }
  .personal_details {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 1020px) {
  .head__about {
    font-size: 60px;
  }
  .intro__subpara {
    font-size: 20px;
    padding: 0px 50px 0px 50px;
  }
  .personal_details {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .img_box {
    margin: 70px 10px 0px 10px;
    flex-basis: 28%;
  }
  .personal_details {
    grid-template-columns: auto auto;
  }
}

/* .displayBranding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content !important;
}
.heading {
  margin: 70px 0px 0px 0px;
}

.imgMine {
  border-radius: 49% 54% 80% 20% / 85% 58% 47% 17%;
  width: 46%;
}

.head__about {
  font-size: 35px;
}
.subhead__about {
  font-size: 21px;
}
.intro__para {
  font-size: 32px;
}
.intro__subpara {
  font-size: 20px;
}
.img_box {
  display: flex !important;
  margin: 0;
  justify-content: center;
  width: 33.33333% !important;
}

.btn__container {
  display: flex !important;
  margin: 30px 0px 0px 0px;
}
.btn_about {
  font-size: 20px;
  padding: 8px 25px !important;
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .displayBranding {
    height: fit-content !important;
  }
  .head__about {
    font-size: 21px;
  }
  .subhead__about {
    font-size: 18px;
  }
  .intro__para {
    font-size: 20px;
  }
  .intro__subpara {
    font-size: 12px;
  }
  .img_box {
    display: flex !important;
    margin: 0;
    justify-content: center;
    width: 33.33333% !important;
  }
  .imgMine {
    width: 82%;
  }
  .btn__container {
    display: flex !important;
    margin: 30px 0px 0px 0px;
  }
  .btn_about {
    font-size: 16px;
    padding: 6px 20px !important;
  }
}
/* @media only screen and (min-width: 1020px) {
  .displayBranding {
    height: fit-content !important;
  }
  .head__about {
    font-size: 35px;
  }
  .subhead__about {
    font-size: 21px;
  }
  .intro__para {
    font-size: 32px;
  }
  .intro__subpara {
    font-size: 20px;
  }
  .img_box {
    display: flex !important;
    margin: 0;
    justify-content: center;
    width: 33.33333% !important;
  }
  .imgMine {
    width: 82%;
  }
  .btn__container {
    display: flex !important;
    margin: 30px 0px 0px 0px;
  }
  .btn_about {
    font-size: 20px;
    padding: 8px 25px !important;
  }
} */
