.displayBranding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  margin: 16px 0px 0px 0px;
}

.imgMine {
  border-radius: 49% 54% 80% 20% / 85% 58% 47% 17%;
  height: 60%;
  width: 64%;
}

@media only screen and (max-width: 300px) {
  .displayBranding {
    height: fit-content !important;
  }
  .head__about {
    font-size: 16px;
  }
  .subhead__about {
    font-size: 12px;
  }
  .intro__para {
    font-size: 15px;
  }
  .intro__subpara {
    font-size: 10px;
  }
  .img_box {
    display: flex !important;
    margin: 0;
    justify-content: center;
    width: 71.33333% !important;
  }
  .imgMine {
    width: 60%;
  }
  .btn__container {
    display: flex !important;
  }
  .btn_about {
    font-size: 9px;
    padding: 0px 13px !important;
  }
}
@media only screen and (min-width: 300px) and (max-width: 482px) {
  .displayBranding {
    height: fit-content !important;
  }
  .head__about {
    font-size: 16px;
  }
  .subhead__about {
    font-size: 12px;
  }
  .intro__para {
    font-size: 22px;
  }
  .intro__subpara {
    font-size: 14px;
  }
  .img_box {
    display: flex !important;
    margin: 0;
    justify-content: center;
    width: 71.33333% !important;
  }
  .imgMine {
    width: 60%;
  }
  .btn__container {
    display: flex !important;
    margin: 30px 0px 0px 0px;
  }
  .btn_about {
    font-size: 16px;
    padding: 6px 18px !important;
  }
}
@media only screen and (min-width: 482px) and (max-width: 576px) {
  .displayBranding {
    height: fit-content !important;
  }
  .head__about {
    font-size: 21px;
  }
  .subhead__about {
    font-size: 18px;
  }
  .intro__para {
    font-size: 25px;
  }
  .intro__subpara {
    font-size: 17px;
  }
  .img_box {
    display: flex !important;
    margin: 0;
    justify-content: center;
    width: 71.33333% !important;
  }
  .imgMine {
    width: 60%;
  }
  .btn__container {
    display: flex !important;
    margin: 30px 0px 0px 0px;
  }
  .btn_about {
    font-size: 18px;
    padding: 6px 20px !important;
  }
}
@media only screen and (min-width: 576px) {
  .displayBranding {
    height: fit-content !important;
  }
  .head__about {
    font-size: 21px;
  }
  .subhead__about {
    font-size: 18px;
  }
  .intro__para {
    font-size: 25px;
  }
  .intro__subpara {
    font-size: 17px;
  }
  .img_box {
    display: flex !important;
    margin: 0;
    justify-content: center;
    width: 71.33333% !important;
  }
  .imgMine {
    width: 50%;
  }
  .btn__container {
    display: flex !important;
    margin: 30px 0px 0px 0px;
  }
  .btn_about {
    font-size: 18px;
    padding: 6px 20px !important;
  }
}
