/* animation */
.frontEndTextSize,
.developerTextSize {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-fill-mode: ease-in;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translate(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.animate {
  animation-name: moveInRight;
  animation-duration: 1s;
  /* animation-fill-mode: ease-in; */
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  80% {
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.rowEl {
  --bs-gutter-x: 0rem !important;
}

.displayBranding {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 46%;
}
.brandingContainer {
  background-color: black;
  /* background-color: #2a2525; */
  /* background-color: #211c1c; */
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  width: 100%;
  height: 500px;
}
.frontEndTextSize {
  font-size: calc(1.375rem + 1.5vw);
}
.developerTextSize {
  font-size: calc(1.525rem + 3.3vw);
}
.typed_Name {
  font-size: 50px;
  letter-spacing: 0.5rem;
  color: #0dcaf0;
}
.typed_Skill {
  font-size: 30px;
}
.iconContainer {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_social {
  width: 37px;
  height: 37px;
  margin: 0px 10px;
  color: #22bfbf;
}
.about_btn:hover {
  opacity: 0.5;
}
.fa__icon__detail {
  width: 44px;
  height: 44px;
  color: #22bfbf;
}
.brandPara {
  margin: 25px 0px;
  padding: 0px 33px;
}
.imgBrand {
  box-shadow: 0 2.4rem 3rem rgb(0, 0, 0, 130.175) !important;
  width: 50%;
  /* max-width: 410px; */
  opacity: 0.5;
}
.imgMine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 40%;
}
.imgMine1 {
  filter: brightness(80%);
  border-radius: 49% 54% 80% 20% / 85% 58% 47% 17%;
  /* box-shadow: 0px 0px 22px 0px #e0bb8b; */
  border-radius: 49% 54% 80% 20% / 85% 58% 47% 17%;
  /* border-radius: 30% 70% 70% 30%/ 30% 57% 43% 70%; */
  /* border-radius: 38% 62% 63% 37% / 58% 86% 14% 42%;
  border-radius: 70% 30% 76% 24% / 73% 73% 27% 27%; */
}
.iconImgContainer {
  width: initial;
  margin: 26px 0px;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media only screen and (min-width: 760px) and (max-width: 1020px) {
  .brandingContainer {
    height: 80vh !important;
  }
  .imgMine1 {
    height: 83%;
    width: 46%;
  }
  .iconImgContainer {
    margin: 0px 0px 0px 22px;
  }
  .info__container {
    display: flex;
    justify-content: center;
    margin: 35px 10px;
  }
  .fa__icon__detail {
    width: 25px;
    height: 25px;
    color: #22bfbf;
  }
  .frontEndTextSize {
    font-size: 1.8rem;
    margin: 10px 0px 0px 0px;
  }
  .developerTextSize {
    font-size: 2.4rem;
    margin: 10px 0px 0px 0px;
  }
  .typed_Name {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .typed_Skill {
    font-size: 25px;
  }
  .btn_social {
    width: 37px;
    height: 37px;
    margin: 0px 10px;
    color: #22bfbf;
  }
  .resumeBtn {
    font-size: 15px;
    padding: 6px 16px !important;
    margin: 16px 0px 0px 0px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1400px) {
  .brandingContainer {
    height: 75vh !important;
  }
  .displayBranding {
    width: 43%;
  }
  .imgMine1 {
    height: 83%;
    width: 38%;
  }
  .iconImgContainer {
    margin: 0px 0px 0px 22px;
  }
  .info__container {
    display: flex;
    justify-content: center;
    margin: 35px 10px;
  }
  .fa__icon__detail {
    width: 25px;
    height: 25px;
    color: #22bfbf;
  }
  .frontEndTextSize {
    font-size: 33px;
    margin: 10px 0px 0px 0px;
  }
  .developerTextSize {
    font-size: 46px;
    margin: 10px 0px 0px 0px;
  }
  .typed_Name {
    font-size: 35px;
    letter-spacing: 2px;
  }
  .typed_Skill {
    font-size: 25px;
  }
  .btn_social {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    color: #22bfbf;
  }
  .resumeBtn {
    font-size: 15px;
    padding: 6px 16px !important;
    margin: 16px 0px 0px 0px;
  }
}
@media only screen and (min-width: 1400px) {
  .brandingContainer {
    height: 75vh !important;
  }
  .displayBranding {
    width: 34%;
  }
  .imgMine1 {
    height: 83%;
    width: 38%;
  }
  .iconImgContainer {
    margin: 0px 0px 0px 22px;
  }
  .info__container {
    display: flex;
    justify-content: center;
    margin: 35px 10px;
  }
  .fa__icon__detail {
    width: 25px;
    height: 25px;
    color: #22bfbf;
  }
  .frontEndTextSize {
    font-size: 33px;
    margin: 10px 0px 0px 0px;
  }
  .developerTextSize {
    font-size: 46px;
    margin: 10px 0px 0px 0px;
  }
  .typed_Name {
    font-size: 35px;
    letter-spacing: 2px;
  }
  .typed_Skill {
    font-size: 25px;
  }
  .btn_social {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    color: #22bfbf;
  }
  .resumeBtn {
    font-size: 15px;
    padding: 6px 16px !important;
    margin: 16px 0px 0px 0px;
  }
}
