.bucket_container {
  background-color: #697565;
  background-color: #1c1c22;
  border-radius: 20px;
  padding: 60px 20px;
  overflow: hidden;
}

.branding_info {
  flex-grow: 2;
  flex-basis: 60%;
  align-content: center;
  justify-content: center;
}

.branding_info h1 {
  font-size: 2rem;
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}
.downArrow {
  color: #ffdbb5;
  height: 1.5rem;
  width: 1.5rem;
}
@keyframes Dribble {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.branding_social {
  display: flex;
  margin-top: 29px;
  gap: 14px;
}

.resumeBtn {
  font-size: 15px;
  padding: 8px 0px !important;
  font-weight: 400;
  border-radius: 20px;
}

@media screen and (min-width: 700px) and (max-width: 890px) {
  .bucket_container {
    flex-basis: 60%;
  }
  .branding_info h1 {
    font-size: 1.5rem;
  }
  .resumeBtn {
    font-size: 10px;
    padding: 8px 32px !important;
    font-weight: 400;
    width: fit-content;
  }
}
@media screen and (min-width: 890px) {
  .branding_info h1 {
    font-size: 1.5rem;
  }
  .resumeBtn {
    font-size: 15px;
    padding: 8px 32px !important;
    font-weight: 400;
    width: fit-content;
  }
}
