.bucket_container {
  background-color: #697565;
  background-color: #1c1c22;
  border-radius: 20px;
  padding: 35px 20px;
  overflow: hidden;
  flex-basis: inherit;
}

.branding_info {
  flex-grow: 2;
  flex-basis: 60%;
  align-content: center;
  justify-content: center;
}

.branding_info > p {
  color: #ababab;
  font-size: 17px;
}
.branding_social {
  display: flex;
  margin-top: 29px;
  gap: 14px;
}

.downArrow {
  color: #ffdbb5;
  height: 1.5rem;
  width: 1.5rem;
}
.resumeBtn {
  font-size: 15px;
  padding: 8px 0px !important;
  font-weight: 400;
  border-radius: 20px;
}

@media screen and (min-width: 700px) and (max-width: 890px) {
  .bucket_container {
    flex-basis: 60%;
  }
  .branding_info > p {
    /* width: 90%; */
    color: #ababab;
    font-size: 17px;
  }

  .resumeBtn {
    font-size: 15px;
    padding: 8px 32px !important;
    font-weight: 400;
    width: fit-content;
  }
}
@media screen and (min-width: 890px) {
  .resumeBtn {
    font-size: 15px;
    padding: 8px 32px !important;
    font-weight: 400;
    width: fit-content;
  }
}
