.cont__name {
  color: white;
  text-align: center !important;
}
.contact__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact__heading {
  text-align: center;
  margin: 50px 0px 70px 0px;
}
.container_contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 34%;
  justify-content: center;
}

.interset__heading {
  font-size: 64px;
  color: #22bfbf;
  align-items: center;
  text-align: center;
}
.form__contact {
  width: 46%;
}
@media only screen and (max-width: 482px) {
  .contact__section {
    display: block;
  }
  .contact__heading h2 {
    font-size: 17px;
    margin: 0;
  }
  .contact__heading span {
    font-size: 10px;
  }
  .contact__heading {
    margin: 18px 0px 38px 0px;
  }
  .container_contact {
    width: 100%;
  }
  .interset__heading {
    font-size: 25px;
  }
  .form__contact {
    width: 100%;
    padding: 0px 31px;
    margin: 20px 0px 0px 0px;
  }
  .form__input {
    font-size: 0.7rem;
  }
  .form_btn {
    font-size: 10px;
    padding: 4px 21px;
  }
}
@media only screen and (min-width: 482px) and (max-width: 576px) {
  .contact__section {
    display: block;
  }
  .contact__heading h2 {
    font-size: 22px;
    margin: 0;
  }
  .contact__heading span {
    font-size: 15px;
  }
  .contact__heading {
    margin: 18px 0px 38px 0px;
  }
  .container_contact {
    width: 100%;
  }
  .interset__heading {
    font-size: 32px;
  }
  .form__contact {
    width: 100%;
    padding: 0px 31px;
    margin: 20px 0px 0px 0px;
  }
  .form__input {
    font-size: 0.7rem;
  }
  .form_btn {
    font-size: 10px;
    padding: 4px 21px;
  }
}
@media only screen and (min-width: 576px) {
  .contact__section {
    display: block;
  }
  .contact__heading {
    margin: 20px 0px 38px 0px;
  }
  .contact__heading h2 {
    font-size: 27px;
    margin: 0;
  }
  .contact__heading span {
    font-size: 18px;
  }
  .container_contact {
    width: 100%;
  }
  .interset__heading {
    font-size: 32px;
  }
  .form__contact {
    width: 100%;
    padding: 0px 31px;
    margin: 20px 0px 0px 0px;
  }
  .form__input {
    font-size: 0.7rem;
  }
  .form_btn {
    font-size: 10px;
    padding: 4px 21px;
  }
}
@media only screen and (min-width: 768px) {
  .contact__section {
    display: flex;
  }
  .contact__heading {
    margin: 20px 0px 38px 0px;
  }
  .contact__heading h2 {
    font-size: 27px;
    margin: 0;
  }
  .contact__heading span {
    font-size: 18px;
  }
  .container_contact {
    width: 50%;
  }
  .interset__heading {
    font-size: 50px;
  }
  .form__contact {
    width: 50%;
    padding: 0px 31px;
    margin: 20px 0px 0px 0px;
  }
  .form__input {
    font-size: 0.7rem;
  }
  .form_btn {
    font-size: 10px;
    padding: 4px 21px;
  }
}
@media only screen and (min-width: 1020px) {
  .contact__section {
    display: flex;
  }
  .contact__heading {
    margin: 20px 0px 38px 0px;
  }
  .contact__heading h2 {
    font-size: 27px;
    margin: 0;
  }
  .contact__heading span {
    font-size: 18px;
  }
  .container_contact {
    width: 50%;
  }
  .interset__heading {
    font-size: 64px;
  }
  .form__contact {
    width: 50%;
    padding: 0px 31px;
    margin: 20px 0px 0px 0px;
  }
  .form__input {
    font-size: 0.7rem;
  }
  .form_btn {
    font-size: 10px;
    padding: 4px 21px;
  }
}
