.container__contact {
  display: flex;
  padding: 130px 50px 50px 50px;
  background-color: #000;
}
.contact__left {
  flex-basis: 35%;
}
.contact__left > h1 {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
  color: #00ff99;
  font-size: 4rem;
}
.contact__left p {
  margin-top: 30px;
}

.emailIcon {
  font-size: 20px;
  margin-right: 10px;
  /* color: #22fbf; */
  color: #00ff99;
}
.social__icons {
  margin-top: 30px;
}
.social__icons a {
  margin-right: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #ababab;
}

.contact__right {
  flex-basis: 60%;
  position: relative;
}
.resumeBtn {
  margin: 25px 0px;
  /* background-color: #ff004f; */
  /* color: #fff; */
}
/* .form_btn { */
/* background-color: #ff004f;
  color: #fff;
} */
.form_btn:hover,
.form_btn:focus,
.resumeBtn:hover,
.resumeBtn:focus {
  /* background-color: #ff004f; */

  /* box-shadow: 1px 1px 3px 1px #ababab; */
  transform: translate(-3px, -3px);
  /* color: #fff; */
}

form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
}

/* ------------------responsive */
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .contact__left > h1 {
    font-size: 2.75rem;
  }
  .container__contact {
    padding: 50px 25px 50px 25px;
  }
  .container__contact {
    flex-direction: column;
  }
  .contact__left,
  .contact__right {
    flex-direction: column;
    flex-basis: 90%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 576px) {
  .contact__left > h1 {
    font-size: 3.5rem;
  }
  .contact__left > p {
    font-size: 1rem;
  }
  .container__contact {
    padding: 50px 35px;
  }
  .container__contact {
    flex-direction: column;
  }
  .contact__left,
  .contact__right {
    flex-direction: column;
    flex-basis: 90%;
  }
  .social__icons > a {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 780px) {
  .contact__left > h1 {
    font-size: 4rem;
  }
  .contact__left > p {
    font-size: 1.25rem;
  }
  .container__contact {
    padding: 50px 35px;
  }
  .container__contact {
    flex-direction: column;
  }
  .contact__left,
  .contact__right {
    flex-direction: column;
    flex-basis: 90%;
  }
  .social__icons > a {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 786px) {
  .contact__left {
    margin-right: 20px;
  }
}
