.section_front {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 11px;
  row-gap: 10px;
}

.education {
  display: flex;
  flex-direction: column;
  padding: 13px 22px;
  flex-grow: 1;
  flex-basis: 47%;
  height: fit-content;
  background-color: #1c1c22;
  border: 1px solid #000;
  color: white !important;
  /* align-items: center; */
  justify-content: space-around;
}
.year {
  color: #00ff99;
}
.institue {
  margin: 0;
}
.course {
}

.grade {
  margin: 0;
}
