.section_front {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 11px;
  row-gap: 10px;
}

.technical__bars {
  display: flex;
  flex-direction: column;
  padding: 13px 22px;
  flex-grow: 1;
  flex-basis: 30%;
  background-color: #1c1c22;
  border: 1px solid #000;
  color: white !important;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 4rem;
}
.technical__bars {
  font-size: 1.25rem;
}
