.displayBranding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head2 {
  font-size: 100px;
  background: linear-gradient(
    91.36deg,
    #eca658 0%,
    #f391a6 13.02%,
    #e188c3 25.52%,
    #a58de3 37.5%,
    #56abec 49.48%,
    #737eb7 63.02%,
    #c8638c 72.92%,
    #dd5d57 84.38%,
    #df6c51 97.92%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-animation: intro-gradient 10s infinite ease both;
  -moz-animation: intro-gradient 10s infinite ease both;
  animation: intro-gradient 10s infinite ease both;
  -webkit-text-fill-color: transparent;
}
@keyframes intro-gradient {
  0% {
    background-position: 0% 4%;
  }

  50% {
    background-position: 100% 97%;
  }

  100% {
    background-position: 0% 4%;
  }
}

/* responsive styling */
@media only screen and (max-width: 300px) {
  /* world class */
  .world_class {
    height: 330px !important;
  }
  .head2 {
    font-size: 25px;
    background: linear-gradient(
      91.36deg,
      #eca658 0%,
      #f391a6 13.02%,
      #e188c3 25.52%,
      #a58de3 37.5%,
      #56abec 49.48%,
      #737eb7 63.02%,
      #c8638c 72.92%,
      #dd5d57 84.38%,
      #df6c51 97.92%
    );
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* world class */
  .head2 {
    font-size: 35px;
  }
  .world_class {
    height: 50vh !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 576px) {
  /* world class */
  .head2 {
    font-size: 44px;
  }
  .world_class {
    height: 400px !important;
  }
}

@media only screen and (min-width: 576px) {
  /* world class */
  .head2 {
    font-size: 55px;
  }
}
@media only screen and (min-width: 576px) and (min-width: 768px) {
  /* world class */
  .head2 {
    font-size: 75px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1020px) {
  /* world class */
  .head2 {
    font-size: 80px;
  }
}
