/* .box {
  transition: all 0.2s ease-in;
}
.box:hover {
  transform: rotateX(180deg);
} */

.portfolioContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.portfolioMainHeading {
  font-size: 28px;
  color: rgb(199, 196, 196);
  margin: 35px 0px 0px 0px;
  /* opacity: 0.75; */
  letter-spacing: -0.04em;
  line-height: 1.2rem;
  color: #ff004f;
}
.projectBtn {
  float: center;
}

.portfolioSubHeading {
  font-size: 80px;
  margin: 0px 0px 33px 40px;
  padding: 2px 450px 2px 2px;
  line-height: 5rem;
  color: white;
  /* opacity: 0.8; */
  letter-spacing: -0.045em;
}
.content__align {
  align-content: center;
}

/* .projectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 69px 14px;
} */

.pareshani {
  display: flex !important;
  flex-wrap: wrap;
  padding: 50px;
  gap: 29px;
}
.col {
  flex-grow: 1;
  flex-basis: 200;
}
/* .pareshani {
  width: 70%;
  padding: 10px 15px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
  row-gap: 45px;
  margin-top: 50px;
  
} */

.box {
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 20vh;
  width: 20vw;
}
.box h3 {
  position: absolute;
  color: #ababab;
  z-index: -1;
}

.box img:hover {
  transition: 0.71s;
  opacity: 0.2;
  cursor: pointer;
  z-index: 0;

  .box h3 {
    z-index: 1;
  }
}

.box1 img,
.box2 img,
.box4 img {
  height: 100%;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.box3 img {
  height: 100%;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: fill;
}

.btnPortfolio {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.btnPortfolio:hover,
.btnPortfolio:focus,
.btnPortfolio:active,
.btnPortfolio:link {
  display: inline-block;
  transform: translate(-1px, -1px);
  letter-spacing: -0.02em;
  color: #ff004f;
}

.w50 {
  width: 14% !important;
}
.cardPort {
  border-radius: 15px;
  box-shadow: 20px;
}

/* new portfolio start */
.container_portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px;
}
.container_portfolio .project_detail {
  flex-grow: 2;
  flex-basis: 50%;
}
.container_portfolio .project_icon {
  flex-grow: 1;
  flex-basis: 37%;
  height: 65vh;
}
.project_detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 0px 0px 27px;
}
.project_title {
  display: flex;
}
.project_serial {
  font-size: 100px;
  color: #ff004f;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}
.project_Heading {
  margin: 60px 0px 0px 20px;
  color: #ff004f;
  font-size: 45px;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}
.project_info p {
  margin-bottom: 0.5rem;
}
.project_tags {
  margin-top: 0.5rem;
  font-size: 30px;
}
.danfo_unique {
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
}
.project_redirect_button,
.project_redirect_button:link,
.project_redirect_button:active {
  width: fit-content;
  margin: 0 auto;
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  font-size: 18px;
  border: 2px solid #ff004f;
  color: #ff004f;
  border: 1px solid #ff004f;
}
.project_redirect_button:hover,
.project_redirect_button:focus {
  background-color: #ff00519f;
  color: white;
  transform: translate(-3px, -3px);
  box-shadow: 1px 1px 3px 1px #ababab;
  border: 1px solid #ff004f;
}
.project_icon a img {
  height: 100%;
  width: 100%;
  aspect-ratio: 3.5 / 1.8;
  object-fit: cover;
}
.project_icon a img:hover,
.project_icon a img:focus {
  transform: translate(-3px, -3px);
  box-shadow: 1px 1px 3px 1px #ababab;
}

.project_navigation {
  display: flex;
  justify-content: end;
}
.project_summary {
  display: list-item;
  font-size: 18px;
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}

.prev_project {
  border-right-color: white;
}
.prev_project,
.next_project {
  background-color: #ff004f;
  margin: 5px 0px 0px 0px;
  border-radius: 0px;
}
.prev_project:hover,
.next_project:hover {
  background-color: #ff00519f;
}
.prev_project:focus,
.next_project:focus {
  background-color: #ff004f;
}
/* end */
/* responsive styling */

@media only screen and (max-width: 300px) {
  .portfolioMainHeading {
    font-size: 20px;
    padding: 2px 2px 2px 2px;
  }

  /* .pareshani {
    justify-content: center;
    grid-template-columns: auto;
  } */
  .box {
    height: 32vh;
    width: 65vw;
  }

  .btnPortfolio {
    font-size: 13px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 482px) {
  .portfolioMainHeading {
    font-size: 20px;
    padding: 2px 2px 2px 2px;
  }
  .container_portfolio {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .project_serial {
    font-size: 67px;
  }
  .project_Heading {
    margin: 34px 0px 0px 20px;
    font-size: 35px;
  }
  .project_detail {
    padding: 0;
  }
  .project_summary {
    font-size: 13px;
  }
  .project_tags {
    font-size: 18px;
  }
  .project_redirect_button {
    font-size: 11px;
  }
  .prev_project,
  .next_project {
    padding: 3px 6px;
    font-size: 13px;
  }
  .box {
    height: 32vh;
    width: 65vw;
  }
  .btnPortfolio {
    font-size: 13px;
  }
}
@media only screen and (min-width: 482px) and (max-width: 576px) {
  .portfolioMainHeading {
    font-size: 20px;
    padding: 2px 2px 2px 2px;
  }
  .container_portfolio {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .project_detail {
    padding: 0;
  }
  /* .pareshani {
    justify-content: center;
    grid-template-columns: auto;
  } */

  .box {
    height: 32vh;
    width: 65vw;
  }
  .btnPortfolio {
    font-size: 13px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 786px) {
  .portfolioMainHeading {
    font-size: 32px;
    padding: 2px 2px 2px 2px;
  }
  .container_portfolio {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  /* .pareshani {
    justify-content: center;
    grid-template-columns: auto auto;
  } */
  .box {
    height: 32vh;
    width: 34.5vw;
  }
  .btnPortfolio {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .portfolioMainHeading {
    font-size: 32px;
    padding: 2px 2px 2px 2px;
  }

  /* .pareshani {
    justify-content: center;
    grid-template-columns: auto auto;
  } */
  .box {
    height: 32vh;
    width: 38vw;
  }
  .btnPortfolio {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1300px) {
  .portfolioMainHeading {
    font-size: 32px;
    padding: 2px 2px 2px 2px;
  }

  /* .pareshani {
    justify-content: center;
    grid-template-columns: auto auto;
  } */
  .box {
    height: 35vh;
    width: 38vw;
  }
  .btnPortfolio {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1300px) {
  .portfolioMainHeading {
    font-size: 32px;
    padding: 2px 2px 2px 2px;
  }

  /* .pareshani {
    justify-content: center;
  } */
  .box {
    height: 34vh;
    width: 25vw;
  }
  .btnPortfolio {
    font-size: 21px;
  }
}
