.brandingContainer {
  height: 100vh;
}

.progress {
  height: 2rem;
}

.skills__heading {
  text-align: center;
  margin: 50px 0px 0px 0px;
}
.skills__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
  margin: 50px 0px 150px 0px;
}
.grid__item:hover {
  cursor: pointer;
}
.fa__icon__rotate {
  /* transition: all 1s; */
  transform: rotate(180deg);
}

.skillset {
  /* border: 1px solid white; */
  margin: 25px 0px;
}
.skillset__item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.bar {
  border: 2px solid blue;
  width: 90%;
}
.overlay {
  background-color: white;
}
.grid__item__head {
  color: #7bc9ff;
}

@media only screen and (max-width: 300px) {
  .grid__item__head {
    font-size: 18px;
  }
  .skills__container {
    grid-template-columns: auto;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
  }
  .brandingContainer {
    height: fit-content;
  }
  .skills_subhead {
    font-size: 12px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 481px) {
  .grid__item__head {
    font-size: 28px;
  }
  .skills__container {
    grid-template-columns: auto;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
  }
  .brandingContainer {
    height: fit-content;
  }
  .skills_subhead {
    font-size: 12px;
  }
  .skills__heading h2 {
    font-size: 30px;
  }
}
