@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Danfo&family=Kablammo&family=League+Gothic&family=Sixtyfour&family=Tilt+Prism&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}
/* back ground color */
.bg-color-primary {
  background-color: rgba(11, 11, 12, 1);
}
.bg-color-secondary {
  background-color: #1c1c22 !important;
}
/* navbar */
.nav-link {
  border-radius: 50px;
  width: 6rem;
  text-align: center;
}

.nav-link.active {
  background-color: #00ff99 !important;
  color: black !important;
  border-radius: 50px;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000ae;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff8e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff8e;
}

/* custom cursor */

.color-green {
  color: #00ff99;
}

.cutom-text-color {
  /* color: #22bfbf !important; */
  color: #00ff99 !important;
  /* color: #6fdce3 !important; */
}

/* contact form animation */
.iconAnimation:hover {
  color: #00ff99;
  transform: translateY(-2px);
}

.active {
  background-color: #00ff99 !important;
  color: black !important;
}
.animateLeft {
  /* animation-name: moveInLeft;
  animation-duration: 0.4s;
  animation-timing-function: ease-out; */
  animation: moveInLeft 1.5s ease-out !important;
  /* animation-fill-mode: backwards; */
}
.animateRight {
  animation: moveInRight 1s ease-out !important;
}
.animateUp {
  animation: moveUp 2s ease-out !important;
}
.animateDown {
  animation: moveDown 0.5s ease-out !important;
}

.animateDribble {
  animation: Dribble 0.4s infinite ease-out !important;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Dribble {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(2px);
  }
}
.loading_form,
.loading_form:hover,
.loading_form:focus {
  cursor: no-drop;
}
/* button animation */
.btn {
  font-weight: 900;
  letter-spacing: 2px;
}
.btn-animated:link,
.btn-animated:visited,
.btn-animated:focus {
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  border-radius: 25px;
  /* color: #00ff99; */
  /* hover: #00e187 */
}

.btn-animated:hover,
.btn-animated:focus {
  transform: translateY(-3px);
  /* box-shadow: 0 4px 4px rgba(233, 226, 226, 0.3); */
}
.btn-animated:active,
.btn-animated:focus {
  transform: translateY(-1px);
  /* box-shadow: 0 5px 10px rgba(233, 226, 226, 0.3); */
}

.btn-skin {
  background-color: #ffdbb5;
  color: #000;
}
.btn-skin-outline {
  border: 1px solid #ffdbb5;
  color: #ffdbb5;
}

.btn-skin:hover {
  background-color: #ffdbb5;
  color: #000;
}
.btn-skin-outline:hover {
  border: 1px solid #ffdbb5;
  color: #ffdbb5;
}
.btn-skin::after,
.btn-skin-outline::after {
  background-color: #ffdbb5 !important;
}
.btn-skin::after,
.btn-green-outline::after {
  background-color: #00ff99 !important;
}
.btn-skin {
  background-color: #00ff99;
  color: #000;
}
.btn-green-outline {
  border: 1px solid #00ff99;
  color: #00ff99;
}

.btn-green:hover {
  background-color: #00ff99;
  color: #000;
}
.btn-green-outline:hover {
  border: 1px solid #00ff99;
  color: #00ff99;
}

.btn-green::after,
.btn-green-outline::after {
  background-color: #00ff99 !important;
}

.btn-animated::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  transition: all 0.8s;
}

.btn-animated:hover::after,
.btn-animated:focus::after {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0;
}

/* for fancy cropping images or anything in any polygon shape  use this css property x y are the cordinates*/
/* clip-path: polygon(x y, x y ,x y, x y); */
/* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */

/* css clip path maker {website name} */

.leetcode {
  height: 9dvh;
  width: 5dvw;
  margin: 10px 0px;
}
