@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Danfo&family=Kablammo&family=League+Gothic&family=Sixtyfour&family=Tilt+Prism&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  cursor: default;
}
clolor-green {
  color: #00ff99;
}
.loader {
  position: absolute;
  border: 5px solid white;
  border-color: #ff004f #ababab #ababab #ababab;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  animation: rotate 0.5s infinite linear;
  z-index: 1000;
}
.loading_form {
  opacity: 0.53;
  cursor: no-drop !important;
}
.nav-link {
  border-radius: 50px;
}
.nav-link.active {
  background-color: #00ff99 !important;
  color: black !important;
  border-radius: 50px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(365deg);
  }
}
.divider {
  height: 0rem;
  border: solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.container {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.fa__icon__rotate-up {
  transition: all 1s;
  transform: rotate(-180deg);
}
.fa__icon__rotate-down {
  transition: all 1s;
}

.js_hidden {
  display: none;
}
/* * {
  background-color: black;
} */
.bg-color {
  background-color: rgba(11, 11, 12, 1);
  /* background-color: #1c1c22; */
}
.cutom-text-color {
  /* text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px #957dad, 1px 2px 1px #957dad, 1px 3px 1px #957dad,
    1px 4px 1px #957dad, 1px 5px 1px #957dad, 1px 6px 1px #957dad,
    1px 10px 5px rgba(16, 16, 16, 0.5), 1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3), 1px 25px 50px rgba(16, 16, 16, 0.2); */
  /* color: #22bfbf !important; */
  color: #00ff99 !important;
  /* color: #6fdce3 !important; */
}

.iconAnimation:hover {
  color: #00ff99;
  transform: translateY(-2px);
}

.typed-cursor {
  font-size: 50px;
}

@media only screen and (max-width: 300px) {
  .typed-cursor {
    font-size: 19px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 482px) {
  .typed-cursor {
    font-size: 24px;
  }
}
@media only screen and (min-width: 482px) and (max-width: 576px) {
  .typed-cursor {
    font-size: 30px;
  }
}
@media only screen and (min-width: 576px) {
  .typed-cursor {
    font-size: 36px;
  }
}
@media only screen and (min-width: 768px) {
  .typed-cursor {
    font-size: 33px;
  }
}
@media only screen and (min-width: 1020px) {
  .typed-cursor {
    font-size: 35px;
  }
}

.cln-card {
  margin: 2px 0px;
}

.classname {
  /* animation-name: moveInLeft;
  animation-duration: 0.4s;
  animation-timing-function: ease-out; */
  animation: moveInLeft 1s ease-out;
  /* animation-fill-mode: backwards; */
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* transform: translateX(-100px) ; */
    transform: translateX(-100px) rotate(-50deg);
  }
  /* 60%{
    transform: rotate(120deg);
  } */
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn {
  font-weight: 900;
  letter-spacing: 2px;
}
.btn-animated:link,
.btn-animated:visited,
.btn-animated:focus {
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  border-radius: 25px;
  /* color: #00ff99; */
  /* hover: #00e187 */
}

.btn-animated:hover,
.btn-animated:focus {
  transform: translateY(-3px);
  box-shadow: 0 4px 4px rgba(233, 226, 226, 0.3);
}
.btn-animated:active,
.btn-animated:focus {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(233, 226, 226, 0.3);
}

.btn-red {
  background-color: #ff004f;
}
.btn-green {
  background-color: #00ff99;
  color: #000;
}
.btn-green-outline {
  border: 1px solid #00ff99;
  color: #00ff99;
}

.btn-red:hover {
  background-color: #ff004f;
}
.btn-green:hover {
  background-color: #00ff99;
  color: #000;
}
.btn-green-outline:hover {
  border: 1px solid #00ff99;
  color: #00ff99;
}

.btn-blue::after {
  content: "";
  background-color: #22bfbf !important;
}
.btn-red::after {
  content: "";
  background-color: #ff004f;
}
.btn-grey::after {
  background-color: #6c757d !important;
}
.btn-green::after,
.btn-green-outline::after {
  background-color: #00ff99 !important;
}

.btn-animated::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  transition: all 0.8s;
}

.btn-animated:hover::after,
.btn-animated:focus::after {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0;
}

/* for fancy cropping images or anything in any polygon shape  use this css property x y are the cordinates*/
/* clip-path: polygon(x y, x y ,x y, x y); */
/* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */

/* css clip path maker {website name} */
